@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.about-class #about-us .container .row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.about-class #about-us .container .gridik {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

body .navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
}
body .navbar-logo h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #555657;
}
body .navbar-links a {
  font-size: 0.9rem;
  font-weight: 400;
}
body #premium-collection h3 {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
}
body #premium-collection p {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}
body #premium-collection .img-thumbnail {
  background-color: transparent !important;
  border: transparent !important;
  height: 100%;
}
body #hero-section {
  background: url("../../assets/img/main-wallpaper.jpg.jpg");
  /* Set a specific height */
  min-height: 43.0625rem;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body #our-philosofy {
  background: url("../../assets/img/blur-prf.jpg");
  /* Set a specific height */
  min-height: 33.625rem;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body #our-philosofy h1 {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
}
body #featured-products {
  background-color: #ffffff !important;
  color: #0a1c36 !important;
}
body #featured-products h1 {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
}
body #tag {
  background: url("../../assets/img/blur-prf2.jpg");
  /* Set a specific height */
  min-height: 21.21875rem;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body #tag a {
  background-color: #262423;
  color: #ffffff !important;
  padding: 0.65rem 1rem;
  border-radius: 0.2rem;
  margin: 0 0 1.3rem 0;
  font-weight: 700;
  font-size: 1.1rem;
}
body #tag h1 {
  font-size: 2rem;
  font-weight: 700;
}
body #tag p {
  margin: 0.85rem 0 0 0;
  color: #fadecd;
}
body footer {
  height: 15rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

body {
  background-color: #0a1c36 !important;
  color: #ffffff !important;
}
body ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
body a {
  text-decoration: none !important;
  color: #fff;
}
body li {
  list-style: none !important;
}

#shop-body {
  background-color: #f2f2f2 !important;
  height: 100;
}
#shop-body .navbar .navbar-links ul li a {
  color: #0a1c36 !important !important;
}
#shop-body #products {
  background-color: #ffffff;
}
#shop-body #products .container img {
  border: none !important;
}
#shop-body #products .container .card {
  border: transparent !important;
  border: none !important;
}
#shop-body #products .container .card-header {
  border: transparent !important;
  border: none !important;
}
#shop-body #products .container .card-body {
  border: transparent !important;
  border: none !important;
}
#shop-body #products .container .card-body h3 {
  font-size: 1.1rem;
  font-weight: 700;
}
#shop-body #products .container .card-body a {
  font-size: 0.8rem;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

body {
  background-color: #0a1c36 !important;
  color: #ffffff !important;
}
body ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
body a {
  text-decoration: none !important;
  color: #fff;
}
body li {
  list-style: none !important;
}/*# sourceMappingURL=main.css.map */