@import '../abstracts/variables';

body {
	.headeris {
		.navbar {
			position: fixed;
			top: 0;
			background-color: transparent; /* Set the initial background color to transparent */
			z-index: 1000;
		}

		.navbar-logo {
			h2 {
				font-size: 1.2rem;
				font-weight: 700;
				color: #555657;
			}
		}

		.navbar-links {
			a {
				font-size: 0.9rem;
				font-weight: 400;
				border: none;
				color: white;

				&.active2 {
					// border-bottom: 2px solid #000;
				}
			}
		}
	}

	.headeris2 {
		background-color: #fff; /* Change the background color to white when scrolled */
		transition: all 0.3s;
		z-index: 1000;

		.active2 {
			border: 1px solid #000 !important;
		}
	}

	.navbar-links a {
		// border: 1px solid #000; /* Add black border to links when scrolled */
		color: #000; /* Change link color to black when scrolled */
	}

	#premium-collection {
		h3 {
			font-size: 1.7rem;
			font-weight: 700;
			text-transform: uppercase;
		}
		p {
			font-size: 1rem;
			font-weight: 400;
			font-style: italic;
		}

		.img-thumbnail {
			background-color: transparent !important;
			border: transparent !important;
			height: 100%;
		}
	}

	#hero-section {
		background: url('../../assets/img/main-wallpaper.jpg.jpg');
		/* Set a specific height */
		min-height: 43.0625rem;

		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#our-philosofy {
		background: url('../../assets/img/blur-prf.jpg');
		/* Set a specific height */
		min-height: 33.625rem;

		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		h1 {
			font-size: 1.7rem;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	#featured-products {
		padding: 7rem 0 !important;
		background-color: $white;
		color: $main-blue;

		h1 {
			font-size: 1.7rem;
			font-weight: 700;
			text-transform: uppercase;
		}
		p {
			font-style: italic;
			font-weight: 500;
		}

		.container {
			.wrapper {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 1rem;
				.c1 {
					grid-column: 1/2;
				}

				.c2 {
					grid-column: 2/3;
				}

				.c3 {
					grid-column: 3/4;
				}

				.card {
					border: transparent;
				}

				.card-header {
					background: transparent;
				}

				.card-body {
					border: transparent !important;
					display: flex;
					flex-direction: column;
					gap: 2rem;
					margin: auto;
					text-align: center;
					h3 {
						font-size: 1.3rem;
						font-weight: 700;
						color: $main-blue !important;
					}
					a {
						border: 1px solid black;
						color: black;
						font-size: 0.8rem;
						padding: 0.8rem 1.2rem;
					}
				}
			}
		}
	}

	#tag {
		background: url('../../assets/img/blur-prf2.jpg');
		/* Set a specific height */
		min-height: 21.21875rem;

		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		a {
			background-color: #262423;
			color: $white;
			padding: 0.65rem 1rem;
			border-radius: 0.2rem;
			margin: 0 0 1.3rem 0;
			font-weight: 700;
			font-size: 1.1rem;
		}
		h1 {
			font-size: 2rem;
			font-weight: 700;
		}
		p {
			margin: 0.85rem 0 0 0;
			color: #fadecd;
		}
	}

	footer {
		height: 15rem;
	}
}
