@import '../../style/abstracts/abstracts';

#shop-body {
	background-color: #f2f2f2 !important;
	height: 100vh;

	.navbar {
		background-color: #ffffff;
		.navbar-links {
			ul {
				li {
					a {
						color: $main-blue !important;
					}
				}
			}
		}
	}
	.navbar-logo {
		h2 {
			font-size: 1.2rem;
			font-weight: 700;
			color: #555657;
		}
	}

	#products {
		background-color: #ffffff;
		margin-top: -3rem;
		height: 35rem;
		padding: 1rem 0 0 0;

		.container {
			img {
				border: none !important;
			}
			.card {
				border: transparent !important;
				border: none !important;
			}
			.card-header {
				border: transparent !important;
				border: none !important;
				background: transparent !important;
			}
			.card-body {
				border: transparent !important;
				border: none !important;
				h3 {
					font-size: 1.1rem;
					font-weight: 700;
				}
				a {
					font-size: 0.8rem;
					text-transform: uppercase;
				}
			}
		}
	}
}
