//* colors
$white: #ffffff !important;
$main-blue: #0a1c36 !important;
$text-grey: #2a2a2a !important;

//* typography
$h1: 3.3rem;
$h2: 2.9rem;
$h3: 2.5rem;
$h4: 2.1rem;
$h3: 1.7rem;
$h4: 1.3rem;
$h5: 0.9rem;
$h6: 0.5rem;
